body{
        background-image: url("image2.jpg");    
    }
.download-button {
        display: inline-block;
        padding: 15px 8px;
        background-color: #eae8e8;
        color: #000;
        text-decoration: none;
        border: 1px solid #f3f1f1;
        border-radius: 20px;
       margin-left: 120px;
      font-weight: bold;
     color: rgb(165, 2, 2);
      }
.nav{
    margin-top: 20px;
   color: darkred
}
.Main{
    display: flex;
}
.box{
    flex:1;
    height:auto;
    width:50;
}